h1 {
  margin: 0;
  text-align: center;
}
.history-table {
  border-collapse: collapse;
  width: 100%;
  tr {
    width: 100%;
    &:nth-child(2n) {
      background-color: rgb(204, 202, 202);
    }
    &.headers {
      font-weight: bold;
    }
    td {
      width: 100%;
      padding: 5px;
      text-align: start;
      &.number {
        text-align: end;
      }
      &.time {
        text-align: start;
      }
    }
  }
}
