/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: #a59696;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  padding: 50px;
  margin: 0;
}
